a {
  text-decoration: none;
  color: white;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: $primary-font;
  line-height: 1;
  color: $title-color;
  font-size: 1.4rem;
}

.text {
  font-family: $secondary-font;
  color: $text-color;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.6;
  font-weight: 300;
}

input,
button {
  font-family: $primary-font;
  line-height: 1;
  outline: none;
}

button {
  cursor: pointer;
}
