// COLORS
$primary-color: #e78282;
$secondary-color: #f0d88a;
$third-color: #95e1d3;

$title-color: #333333;
$text-color: #b3b3b3;

$gray-color: #f8f8f8;
$gray-dark-color: #ccc;
$gray-light-color: #f5f5f5;

//Fonts
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Roboto", sans-serif;
$third-font: "Kaushan Script", cursive;

$wrapper: 1920px;
$container: 1200px;
