section.about 
	.container 
		+blockBox({caption: "What we do", title: "story about us", desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quas facere quis amet, sed dolore officia natus tenetur beatae illo libero nesciunt, facilis, hic quae iste et dicta nam corporis."})
		ul.about-list 
			+aboutItem({src: "https://images.unsplash.com/photo-1621328778483-77056460b842?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHNjYW5kaW5hdmlhbiUyMGludGVyaW9yfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60", icon: "fa fa-users", text: "Super team"})
			+aboutItem({src: "https://i.pinimg.com/564x/00/21/af/0021af89cfa8ecdfe1e348083f071042.jpg", icon: "fa fa-home", text: "Super team"})
			+aboutItem({src: "https://images.unsplash.com/photo-1540809799-5da9372c3f64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHNjYW5kaW5hdmlhbiUyMGludGVyaW9yfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60", icon: "fa fa-heart", text: "Super team"})