footer.footer 
	.container 
		.footer-top 
			.footer-column 
				a(href="index.html").footer-heading.footer-heading--logo MoGo 
				p.footer-desc.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor reprehenderit neque vitae suscipit a modi, ipsam voluptatem quibusdam? Aperiam qui quos veritatis numquam quae at inventore perferendis expedita, voluptatibus dignissimos.
				p.footer-follower <strong>15k</strong> followers 
				.footer-social
					span.footer-social-text.text Follow us: 
					ul.footer-social-list 
						li.footer-social-item 
							a.footer-social-link(href="#") 
								i.fab.fa-facebook-f.footer-icon
						li.footer-social-item 
							a.footer-social-link(href="#") 
								i.fab.fa-twitter.footer-icon
						li.footer-social-item 
							a.footer-social-link(href="#") 
								i.fab.fa-instagram.footer-icon
						li.footer-social-item 
							a.footer-social-link(href="#") 
								i.fab.fa-pinterest.footer-icon
						li.footer-social-item 
							a.footer-social-link(href="#") 
								i.fab.fa-google.footer-icon
						li.footer-social-item 
							a.footer-social-link(href="#") 
								i.fab.fa-youtube.footer-icon
						li.footer-social-item 
							a.footer-social-link(href="#") 
								i.fab.fa-tumblr.footer-icon
						li.footer-social-item 
							a.footer-social-link(href="#") 
								i.fab.fa-facebook-f.footer-icon
				form(action="").footer-form
					input(type="email" placeholder= "Your email:").footer-form-input.text
					button.footer-form-button Subscribe

			.footer-column 
				h3.footer-heading Blogs
				.footer-blog-list 
					a(href="#").footer-blog-item 
						img.footer-blog-image(src="https://images.unsplash.com/photo-1588673133509-13d815c64b5c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=327&q=80", alt="")
						.footer-blog-content 
							.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odio quod pariatur ullam ipsum
							span.footer-blog-date.text Jan 9, 2016
					a(href="#").footer-blog-item 
						img.footer-blog-image(src="https://images.unsplash.com/photo-1673718859197-60d71fb0cecf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80", alt="")
						.footer-blog-content 
							.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odio quod pariatur ullam ipsum
							span.footer-blog-date.text Jan 9, 2016
					a(href="#").footer-blog-item 
						img.footer-blog-image(src="https://images.unsplash.com/photo-1652845711980-023ce977faf1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80", alt="")
						.footer-blog-content 
							.footer-blog-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odio quod pariatur ullam ipsum
							span.footer-blog-date.text Jan 9, 2016
			.footer-column 
				h3.footer-heading instagram 
				.footer-insta-images 
					.footer-insta-image
						img(src="https://images.unsplash.com/photo-1611518229032-de72ef58bcca?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3xDUFl4enVPZkgzWXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60", alt="")
					.footer-insta-image
						img(src="https://64.media.tumblr.com/544b123649cce003410ecd8fb7f7c95a/b77a5f64ad18e35b-e0/s2048x3072/8dbdd3337674619e10a084f610062dcb45136e66.jpg", alt="")
					.footer-insta-image
						img(src="https://images.unsplash.com/photo-1556025414-bc86d6f79784?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80", alt="")
					.footer-insta-image
						img(src="https://images.unsplash.com/photo-1610051167190-1eee6e754bc3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", alt="")
					.footer-insta-image
						img(src="https://i.pinimg.com/564x/61/79/c4/6179c4762d6c6cd91091e608ff88ec33.jpg", alt="")
					.footer-insta-image
						img(src="https://i.pinimg.com/564x/97/8a/3b/978a3b8fd325dfda0bca6f0ed04a6ebd.jpg", alt="")
					.footer-insta-image
						img(src="https://i.pinimg.com/564x/69/5a/e2/695ae2559dfbf7aa279695cb4d5b4d43.jpg", alt="")
					.footer-insta-image
						img(src="https://images.unsplash.com/photo-1609794293024-765dafef06f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80", alt="")
					.footer-insta-image
						img(src="https://images.unsplash.com/photo-1623854968962-92f46521a280?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80", alt="")
				a(href="#").footer-more.text View more photos
		.footer-bottom &copy; 2016 Mogo free psd tempalte by <span> Laaqiq </span>