section.service 
	.container
		+blockBox({caption: "We work with", title: "Amazing services"})
		.service-container
			.service-list 
				+serviceItem({src: "../images/img-service-icon1.png", title: 'Photography', desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit."})
				+serviceItem({src: "../images/img-service-icon2.png", title: 'web design', desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit."})
				+serviceItem({src: "../images/img-service-icon3.png", title: 'creativity', desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit."})
			.service-list 
				+serviceItem({src: "../images/img-service-icon3.png", title: 'seo', desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit."})
				+serviceItem({src: "../images/img-service-icon4.png", title: 'css/html', desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit."})
				+serviceItem({src: "../images/img-service-icon5.png", title: 'digital', desc: "Lorem ipsum, dolor sit amet consectetur adipisicing elit."})
			