section.story 
	.container 
		+blockBox({caption:'Our stories', title: 'Latest blog'})
		.story-list
			+storyItem({
				link: "#",
				src: "https://images.unsplash.com/photo-1661956602926-db6b25f75947?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=398&q=80",
				date: "15",
				month: "Jan",
				heading: "Lorem, ipsum dolor sit amet consectetur adipisici",
				desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quia praesentium quod laboriosam error. Vero adipisci, optio nemo provident cumque quibusdam nobis architecto incidunt consequuntur id facilis sint, aut",
				icon1: "fa fa-eye",
				icon2: "fa fa-comments",
				count1: "1500",
				count2: "27"
			})
			+storyItem({
				link: "#",
				src: "https://images.unsplash.com/photo-1671726805768-575f88de945a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80",
				date: "15",
				month: "Jan",
				heading: "Lorem, ipsum dolor sit amet consectetur adipisici",
				desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quia praesentium quod laboriosam error. Vero adipisci, optio nemo provident cumque quibusdam nobis architecto incidunt consequuntur id facilis sint, aut",
				icon1: "fa fa-eye",
				icon2: "fa fa-comments",
				count1: "1500",
				count2: "27"
			})
			+storyItem({
				link: "#",
				src: "https://images.unsplash.com/photo-1621569899323-55c203a0f7f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80",
				date: "15",
				month: "Jan",
				heading: "Lorem, ipsum dolor sit amet consectetur adipisici",
				desc: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quia praesentium quod laboriosam error. Vero adipisci, optio nemo provident cumque quibusdam nobis architecto incidunt consequuntur id facilis sint, aut",
				icon1: "fa fa-eye",
				icon2: "fa fa-comments",
				count1: "1500",
				count2: "27"
			})
			
section.map 
	.container
		.map-container
			img.map-image(src="./images/img-map-icon.png", alt="")
			a(href="#").map-title open map