section.team
	.container 
		+blockBox({caption: 'Who we are', title: 'Meet our team', desc: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium quo quisquam dolorum vero tenetur, in repudiandae aut et veniam rem labore animi inventore corrupti, similique fuga nam, voluptate sint quibusdam.'})
		.team-list 
			+teamItem({src:"https://images.unsplash.com/photo-1594744803329-e58b31de8bf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzB8fHdvbWFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60",
			fb: '#', insta: '#', tt: "#", pin: '#', name: 'Esther Dix', job: 'Graphic design' })
			+teamItem({src:"https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80",
			fb: '#', insta: '#', tt: "#", pin: '#', name: 'Samantha Campbell', job: 'Branding/UX design' })
			+teamItem({src:"https://images.unsplash.com/photo-1544717305-2782549b5136?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80",
			fb: '#', insta: '#', tt: "#", pin: '#', name: 'Michelle Fertig', job: 'Developer' })
			

section.brand
	.container 
		img.brand-image(src="./images/img-logos.png")

	