section.quote 
	.container 
		.quote-container
			+quoteItem({
				src: "https://images.unsplash.com/photo-1591084728795-1149f32d9866?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80",
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint quos incidunt quis minima excepturi, tempore itaque cumque molestiae. Dolore doloremque ratione deleniti tempora delectus nostrum voluptates ducimus aut blanditiis.  delectus nostrum voluptates ducimus aut blanditiis.",
				author: "John Doe",
				type: ""
			})
			+quoteItem({
				src: "https://images.unsplash.com/photo-1567532939604-b6b5b0db2604?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzJ8fHdvbWFufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60",
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint quos incidunt quis minima excepturi, tempore itaque cumque molestiae. Dolore doloremque ratione deleniti tempora delectus nostrum voluptates ducimus aut blanditiis.  delectus nostrum voluptates ducimus aut blanditiis.",
				author: "John Doe",
				type: ""
			})
			+quoteItem({
				src: "https://images.unsplash.com/photo-1566492031773-4f4e44671857?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fG1hbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60",
				desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sint quos incidunt quis minima excepturi, tempore itaque cumque molestiae. Dolore doloremque ratione deleniti tempora delectus nostrum voluptates ducimus aut blanditiis.  delectus nostrum voluptates ducimus aut blanditiis.",
				author: "John Doe",
				type: ""
			})
			