section.work 
	.container
		+blockBox({caption: "What we do",title: "Some of our work", desc: '	Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, quia itaque perspiciatis at accusamus aliquam nulla asperiores esse ex, illo, molestias possimus. Magnam possimus, deleniti vero illum quas ipsa officia?'})
	.work-list
		.work-column 
			+workItem({
				src: 'https://i.pinimg.com/564x/fa/55/a4/fa55a48a0d4ce6912f27497f264f31f4.jpg',
				icon: "fa fa-home",
				title: 'Creatively designed',
				desc: 'Lorem ispum dolor sit',
				full: ''}
			)
			+workItem({
				src: 'https://i.pinimg.com/564x/c9/a2/41/c9a24183f00ae73048656103baef2ef2.jpg',
				icon: "fa fa-home",
				title: 'Creatively designed',
				desc: 'Lorem ispum dolor sit',
				full: ''
			})
		.work-column 
			+workItem({
				src: 'https://i.pinimg.com/564x/71/e4/38/71e438fb3fd1e20e4797790b28a18903.jpg',
				icon: "fa fa-home",
				title: 'Creatively designed',
				desc: 'Lorem ispum dolor sit',
				full: ''
			})
			+workItem({
				src: 'https://i.pinimg.com/564x/d0/8b/26/d08b262b59ee02a03938822baa5ebda3.jpg',
				icon: "fa fa-heart",
				title: 'Creatively designed',
				desc: 'Lorem ispum dolor sit',
				full: ''
			})
		.work-column 
			+workItem({
				src: 'https://i.pinimg.com/564x/00/6d/fe/006dfe0ebbb11ba953b0f4daa6e38325.jpg',
				icon: "fa fa-cog",
				title: 'Creatively designed',
				desc: 'Lorem ispum dolor sit',
				full: "work-item--full"
			})
		.work-column 
			+workItem({
				src: 'https://i.pinimg.com/564x/2a/07/3d/2a073d69f2f7115fe33842ab8ae72a2f.jpg',
				icon: "fa fa-home",
				title: 'Creatively designed',
				desc: 'Lorem ispum dolor sit',
				full: ''})
			+workItem({
				src: 'https://i.pinimg.com/564x/28/02/19/280219191cfcfe353e9efaa90bb7dc9a.jpg',
				icon: "fa fa-home",
				title: 'Creatively designed',
				desc: 'Lorem ispum dolor sit',
				full: ""
			})